<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
</head>
<body>

<h1>게시글 수정</h1>

<form th:action="@{'/boards/' + ${board.id} + '/edit'}"
      th:object ="${board}"
      method="post">
    <div>
        <label>제목</label>
        <input type="text" th:field="*{title}"/>
    </div>
    <div>
        <label>내용</label>
        <textarea th:field="*{content}" rows="5"></textarea>
    </div>
    <div>
        <button type="submit">수정완료</button>
        <a th:href="@{'/boards/' + ${board.id}}">취소</a>
    </div>

</form>

</body>
</html>

